{% extends "base.html" %}
{% block title %}{{ type|capitalize }}s - Buddharauer Wiki{% endblock %}
{% block breadcrumb %}
<nav class="breadcrumb"><a href="/wiki">Wiki Home</a> &gt; {{ type|capitalize }}s</nav>
{% endblock %}
{% block content %}
<h1>{{ type|capitalize }}s</h1>
<ul class="entity-list">
    {% for entity in entities %}
    <li><a class="wiki-btn {{ entity.type|entity_color_class }}" href="/wiki/entity/{{ entity.id }}">{{ entity.name }}</a> - {{ entity.description }}</li>
    {% else %}
    <li>No entities found for this category.</li>
    {% endfor %}
</ul>
{% endblock %}
